{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        commons-codec/commons-codec {:mvn/version "1.16.0"} ; For hexadecimal support
        cli-matic/cli-matic                                 ; For Command Line Interface tooling
        {:git/url "https://github.com/l3nz/cli-matic.git"
         :sha "374b2ad71843c07b9d2ddfc1d4439bd7f8ebafab"}}
 :aliases
 {:run-m {:main-opts ["-m" "kentbull.keri-clj"]}
  :run-x {:ns-default kentbull.keri-clj
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
